/* offer
------------------------------------------ */
@use '../setting' as s;

.offer {
  background-color: s.$lightblue-main;

  .section-title {
    color: s.$white;
  }

  .text-underline__inner {

    @media (min-width: 681px) {
      margin-right: .5rem;
    }

    &::after {
      background-color: s.$navy-underline;
    }
  }
}

.offer {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      column-gap: 1.5rem;
      margin-top: 3.75rem;
    }
  }
}

.offer {
  &__top {
    @media (min-width: 768px) {
      flex: 1;
    }
  }

  &__vision {
    display: flex;
    height: 7rem;
    column-gap: .25rem;
  }

  &__logo-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: s.$white;
    width: 8.625rem;
    border-radius: 1.25rem 0 0 1.25rem;
  }

  &__catch-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: s.$navy;
    line-height: 1.6;
    background-color: s.$white;
    width: calc(100% - 8.625rem);
    border-radius: 0 1.25rem 1.25rem 0;
  }

  &__text {
    color: s.$white;
    margin-top: 1rem;
  }
}

.offer {
  &__bottom {
    @media (min-width: 768px) {
      flex: 1;
    }
  }

  &__img {
    border-radius: 3rem;
    box-shadow: .625rem .625rem 0 s.$lightblue-shadow;
  }

  &__button {
    color: s.$navy;
    width: 85%;
    max-width: 20rem; //320px
    border-radius: 4rem;
    margin: 2.5rem auto 0;

    &:hover {
      color: s.$white;
      background-color: s.$navy;
    }
  }
}
