/* point
------------------------------------------ */
@use '../setting' as s;

.point {
  background-color: s.$lightblue-main;
  color: s.$white;

  &__title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;

    & .font-l {
      font-size: 2.5rem;
    }
  }

  &__lead {
    padding-top: 2rem;
    text-align: center;
    max-width: 42rem; //672px
    margin: 0 auto;
  }

  //767px以下は2行、768px以上は1行にする
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 2rem;
    align-items: flex-end;
    width: 100%;
    max-width: 28rem; //448px
    padding-top: 2rem;
    margin: 0 auto;

    @media (min-width: 768px) {
      column-gap: 1rem;
      max-width: 59.5rem; //952rem
    }
  }

  &__list-item {
    width: calc((100% - .5rem) / 2);

    @media (min-width: 768px) {
      width: calc((100% - 1rem * 3) / 4);
    }

    // img-itemのサイズ指定
    &:first-child .point__img-item,
    &:nth-child(3) .point__img-item {
      width: 5rem;

      @media (min-width: 768px) {
        width: 5.5rem; //SP表示のの1.1倍
      }
    }

    &:nth-child(2) .point__img-item,
    &:nth-child(4) .point__img-item {
      width: 6.5rem; //104px

      @media (min-width: 768px) {
        width: 7.15rem; //SP表示の1.1倍
      }
    }
  }

  &__list-text {
    height: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list-img {
    border: .375rem solid s.$white;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;

    @media (min-width: 768px) {
      border: .625rem solid s.$white;
    }
  }
}

//フェードインアニメーションの開始時間遅延
.point {
  &__list-item {

    &:nth-child(2) {
      animation-delay: 200ms;
    }

    &:nth-child(3) {
      @media (min-width: 768px) {
        animation-delay: 400ms;
      }
    }

    &:nth-child(4) {
      animation-delay: 200ms;
      
      @media (min-width: 768px) {
        animation-delay: 600ms;
      }
    }
  }
}