/* contact
------------------------------------------ */
@use '../setting' as s;

.contact {
  background-color: s.$paleblue;
}

.contact {

  &__attention {
    text-align: center;
    margin-top: 2.5rem;
  }

  &__form {
    margin: 0 auto;
    max-width: 31.25rem;
    margin-top: 1rem;

    //681px以上
    @media (min-width: 681px) {
      max-width: 60rem; //40rem
      margin-top: 1.5rem;
    }

     //768px以上
     @media (min-width: 768px) {
      margin-top: 3.75rem;
    }
  }

  &__form-item {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    //681px以上
    @media (min-width: 681px) {
      flex-direction: row;
    }

    &+.contact__form-item {
      margin-top: .75rem;

      //681px以上
      @media (min-width: 681px) {
        margin-top: .5rem;
      }
    }
  }

  &__form-label {
    color: s.$navy;

    //681px以上
    @media (min-width: 681px) {
      flex: 1;
    }
  }

  &__form-box {
    background-color: s.$white;
    border-radius: 1.5rem;
    padding: .125rem .75rem;

    //681px以上
    @media (min-width: 681px) {
      flex: 3;
    }

    &:focus {
      outline: .125rem solid s.$black;
    }
  }
}

.contact {
  &__form-button-submit {
    color: s.$white;
    border: .125rem solid s.$lightblue-main;
    background-color: s.$lightblue-main;
    width: 85%;
    max-width: 20rem; //320px
    border-radius: 4rem;
    margin: 2rem auto 0;

    &:hover {
      color: s.$lightblue-main;
      background-color: s.$white;
      transition: all .3s;
    }
  }
}
