/* price
------------------------------------------ */
@use '../setting' as s;

.price {
  background-color: s.$lightblue-main;

  .section-title {
    color: s.$white;
  }

  .text-underline__inner {
    &::after {
      background-color: s.$navy-underline;
    }
  }

  &__box {
    text-align: center;
    max-width: 25rem; //400px
    background-color: s.$white;
    border: .312rem solid s.$white;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem auto 0;
  }

  &__title {
    color: s.$white;
    background-color: s.$lightblue-price;
    padding: .5rem 0;
  }

  &__text {
    padding: .5rem;
  }

  &__tag {
    display: inline-block;
    color: s.$white;
    background-color: #00c7ed;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-right: 1rem;
  }

  &__item {
    display: inline-block;
    font-size: 1.5rem;
  }

  &__text-small {
    font-size: 1.25rem;
  }

  &__table {
    margin-top: 1.75rem;
    overflow-x: auto;

    //スクロールバーのスタイル -webkit系のみ
    //スクロールバー全体
    &::-webkit-scrollbar {
      height: 1rem; //横スクロールバーの高さ
      background-color: s.$white;
      border-radius: .5rem;
    }

     //スクロールバーのつまみ
    &::-webkit-scrollbar-thumb {
      height: .75rem;
      background-color: s.$white;
      border-top: .125rem solid transparent;
      border-bottom: .125rem solid transparent;
      border-radius: 1rem;
      background-clip: padding-box;
      box-shadow: inset 0 0 .375rem #646464;
    }

    //ブレイクポイント790px以上で横スクロールバーは非表示、要素を中央寄せ
    @media (min-width: 790px) {
      overflow-x: initial;
      text-align: center;
    }
  }

  &__img {
    max-width: none;
    width: 47.5rem; //760px
  }
}