/* variable
------------------------------------------ */
:root {
  --black: #333;
  --white: #fff;
  --lightblue-main: #38b6ff;
  --paleblue: #f2f9fd;
  --navy: #224277;
  --white-header: rgb(255 255 255 / 90%);
  --lightblue-underline: rgb(79 205 255 / 50%);
  --navy-underline: rgb(34 66 119 / 60%);
  --lightblue-shadow: rgb(161 227 255);
  --lightblue-price: #009ce6;
}

$black: var(--black);
$white: var(--white);
$lightblue-main: var(--lightblue-main);
$paleblue: var(--paleblue);
$navy: var(--navy);
$white-header: var(--white-header);
$lightblue-underline: var(--lightblue-underline);
$navy-underline: var(--navy-underline);
$lightblue-shadow: var(--lightblue-shadow);
$lightblue-price: var(--lightblue-price);