/* base
------------------------------------------ */
@use '../setting' as s;

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  color: s.$black;
  background-color: s.$white;

  a {
    color: s.$black;
    text-decoration: none;
  }

  a,
  a:hover,
  a i {
    transition: all .3s;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: text-bottom;
  }

  ul {
    list-style: none;
  }
}