/* component
------------------------------------------ */
@use '../setting' as s;

//コンテナ
.container {
  max-width: 60rem; //960px
  padding: 3rem .75rem;
  margin-right: auto;
  margin-left: auto;
}

// フォント太さ
.bold {
  font-weight: 700;
}

// ボタン
.button {
  display: block;
  font-weight: 700;
  text-align: center;
  background-color: s.$white;
  padding: 1.5rem 0;
  border-radius: 1.875rem; //30px
  line-height: 1;
}

// SP表示(680px以下)の時のみ改行指定※.section-titleで使用
@media (min-width: 681px) {
  .br-sp681 {
    display: none;
  }
}

// SP表示(767px以下)の時のみ改行指定
@media (min-width: 768px) {
  .br-sp768 {
    display: none;
  }
}

//セクションタイトル
.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;

  //ブレイクポイント681px以上でフォントを大きく
  @media (min-width: 681px) {
    font-size: 2rem;
  }
}

//アンダーライン
.text-underline {
  position: relative; //こちらはz-indexの基準とする用のposition:relative;指定
  z-index: 0;

  &__inner {
    position: relative; //こちらは疑似要素の配置の基準とするposition:relative;指定

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: calc(100% + 1rem);
      height: 56%;
      background-color: s.$lightblue-underline;
      left: -.5rem;
      bottom: 0;
      border-radius: 1rem;
      z-index: -1;
    }
  }
}

// 回転する三角形
//アニメーション
//最初から表示する要素
.not-inview {
  animation: rotate-only 10s infinite linear;
}

@keyframes rotate-only {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

//load後又はスクロールに付随させて表示させ、回転させる要素
.inview__load,
.inview__scroll {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.inview {
  opacity: 1;
}

.rotate {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}


//サイズ(配置はそれぞれの使用箇所に記述)
.triangle-animation {
  &__p1-1 {
    width: 12%;
    max-width: 4rem;
  }

  &__p1-2 {
    width: 8%;
    max-width: 3rem;
  }

  &__p2-1 {
    width: 30%;
    max-width: 7.5rem; //120px
  }

  &__p3-1 {
    width: 12%;
    max-width: 4rem;
  }

  &__p3-2 {
    width: 7%;
    max-width: 1.75rem;
  }

  &__p3-3 {
    width: 6%;
    max-width: 2rem;
  }

  &__p4-1 {
    width: 8%;
    max-width: 2rem;
  }

  &__p4-2 {
    width: 4%;
    max-width: 1rem;
  }

  &__p5-1,
  &__p5-2 {
    width: 8%;
    max-width: 2rem;
  }

  &__p5-3 {
    width: 12%;
    max-width: 4rem;
  }

  &__p6-1,
  &__p6-2 {
    width: 6%;
    max-width: 1.5rem;
  }
}

//スクロールに付随したフェードインアニメーション
//ページ読み込み直後にフェードイン要素を非表示にする
.animate__animated {
  opacity: 0;
}

//アニメーション継続時間 デフォルトは1s
//通常
.animate__animated {
  animation-duration: 1.3s;
}

//速くしたい箇所
.quick {
  animation-duration: 700ms;
}


// ページ全体のスクロールバーのスタイル -webkit系のみ
html {
  overflow-x: hidden; //ページ全体の横スクロールは禁止

  &::-webkit-scrollbar {
    width: .625rem; //縦スクロールバーの横幅
    background-color: s.$white;
    border-radius: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    width: .375rem;
    background-color: s.$white;
    border-right: .125rem solid transparent;
    border-left: .125rem solid transparent;
    border-radius: 1rem;
    background-clip: padding-box;
    box-shadow: inset 0 0 .375rem #646464;
  }
}
